*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
.mcp-download.lock
test.*
.cursor/rules/design.mdc
.superdesign/design_iterations/default_ui_darkmode.css
.superdesign/moodboard/1753443191584_juanpasabuyph.loc_HOME.png
CLAUDE.md
.gitignore
.windsurfrules
